body{
  background-color: #abdfdf;
  padding: 10px;
  font-size: 14px;
  color: #2975d7;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}
header{
  background-color: black;
  padding: 10px;
  color: #fff;
}
header h1{
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.information{
  margin-bottom: 20px;
  padding-bottom: 0px;
  border-bottom:1px solid #ddd;
}
.container {
  font-size: medium;
  
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.review-item {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.review-item h3 {
  margin-top: 0;
}
.rating, .comment {
  margin-top: 10px;
}
footer{
  text-align: center;
  font-size: 80%;
}
.stars{
  color: gold;
}
@media only screen and (max-width:600px){
  .description img{
    float: none;
    display: block;
    margin: 0 auto;
  }
  header{
    padding: 5px;
  }
  header h1{
    font-size: 12px;

  }
  .lecture li{
    float: none;
    width: inherit;
  }
}